// override colors
$primary: #304E83;
$secondary: #6C6C6C;
$warning: #DDCA9F;
$danger: #D24F4F;
$success: #31992F;
$info: #5F7EB4;

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$nox-dark-yellow: #DDCA9F;
$body-bg: #EFEEE6;
$black: #434343;
$body-color: $black;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
$text-muted: #858585;
$input-placeholder-color: #ddd;
// $input-group-addon-bg: #627BA9;
// $input-group-addon-color: #fff;

// $font-size-base: 0.75rem;
$grid-gutter-width: 20px;
$card-border-radius: 0.5rem;

$btn-padding-x: 1.5em;
$btn-padding-x-sm: 1.5em;
$input-btn-padding-x-sm: 1.5em;

$body-font-size: 12px;
$btn-disabled-opacity: 0.7;
